@import "./variables.scss";

:root {
    color-scheme: dark;
}

body,
html {
    height: 100%;
    width: 100%;
    background: $gray;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $sansSerifFont;
}
